# Crear arreglo de 4 dimensiones ordenados por la edad o nombre

In [ ]:
import numpy as np

varType = [('nombre', 'S10'), ('edad', int)]
data = [('Cristhian', 24), ('Diego', 24), ('Kerly', 21), ('Maria', 22), ('Cristopher', 10),('Erika', 30), ('Robert', 25),('Luis', 28)]
users = np.array([[[data, data]], [[data, data]]], dtype = varType)
users.ndim

4

### Ordenar por edad

In [ ]:
np.sort(users, order = 'edad')

array([[[[(b'Cristopher', 10), (b'Kerly', 21), (b'Maria', 22),
          (b'Cristhian', 24), (b'Diego', 24), (b'Robert', 25),
          (b'Luis', 28), (b'Erika', 30)],
         [(b'Cristopher', 10), (b'Kerly', 21), (b'Maria', 22),
          (b'Cristhian', 24), (b'Diego', 24), (b'Robert', 25),
          (b'Luis', 28), (b'Erika', 30)]]],


       [[[(b'Cristopher', 10), (b'Kerly', 21), (b'Maria', 22),
          (b'Cristhian', 24), (b'Diego', 24), (b'Robert', 25),
          (b'Luis', 28), (b'Erika', 30)],
         [(b'Cristopher', 10), (b'Kerly', 21), (b'Maria', 22),
          (b'Cristhian', 24), (b'Diego', 24), (b'Robert', 25),
          (b'Luis', 28), (b'Erika', 30)]]]],
      dtype=[('nombre', 'S10'), ('edad', '<i8')])

### Ordernar por nombre

In [ ]:
np.sort(users, order = 'nombre')

array([[[[(b'Cristhian', 24), (b'Cristopher', 10), (b'Diego', 24),
          (b'Erika', 30), (b'Kerly', 21), (b'Luis', 28),
          (b'Maria', 22), (b'Robert', 25)],
         [(b'Cristhian', 24), (b'Cristopher', 10), (b'Diego', 24),
          (b'Erika', 30), (b'Kerly', 21), (b'Luis', 28),
          (b'Maria', 22), (b'Robert', 25)]]],


       [[[(b'Cristhian', 24), (b'Cristopher', 10), (b'Diego', 24),
          (b'Erika', 30), (b'Kerly', 21), (b'Luis', 28),
          (b'Maria', 22), (b'Robert', 25)],
         [(b'Cristhian', 24), (b'Cristopher', 10), (b'Diego', 24),
          (b'Erika', 30), (b'Kerly', 21), (b'Luis', 28),
          (b'Maria', 22), (b'Robert', 25)]]]],
      dtype=[('nombre', 'S10'), ('edad', '<i8')])